body {
    background-color: #1e1e27;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h3 {
    color: #9592a1;
    font-weight: 300;
    font-size: 16px;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9592a1;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    outline: none;
    padding-bottom: 10px;
    font-size: 16px;
}

.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    text-align: center;
}

button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 6px 15px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
